body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; 
}

@keyframes moving-gradient {
  from {
      background-position: left bottom;
  }

  to {
      background-position: right bottom;
  }
}